.vscode/**
.vscode-test/**
assets/**
out/**
node_modules/**
src/**
.gitattributes
.gitignore
.prettierignore
.prettierrc.yml
.yarnrc
blue-skies-theme.code-workspace
esbuild.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/gulpfile.js
